<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="/assets/css/mypage.css">
  <title>My Page</title>
</head>
<body>

<div class="container">
  <!-- 상단 네비게이션 -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/songsong_color.jpg" alt="logo" />
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <span class="nav-link" id="navName"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myplaylist">My 플레이리스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="logoutBtn">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h2 class="text-center">관리자 기능</h2>
  <div class="list-group mb-4 mt-5">
    <a href="#" class="list-group-item list-group-item-action" onclick="showSection('MypageSection')">회원 정보 및 카테고리 수정</a>
    <a href="#" class="list-group-item list-group-item-action" onclick="showSection('likedPlaylistSection'); showLikedPlaylists();">좋아요❤️ 한 플레이리스트</a>
  </div>

  <!-- 마이페이지 컨텐츠 -->
  <div class="mypage-container" id="MypageSection" style="display: none;">
    <div class="row">
      <!-- 프로필 이미지 -->
      <div class="col-md-3 mt-5 text-center">
        <img src="/assets/img/goomba.jpg" alt="프로필 이미지" class="rounded-circle profile-img">
      </div>
      <!-- 정보 수정 섹션 -->
      <div class="col-md-8">
        <form id="userUpdateForm">
          <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" name="name" disabled>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요" disabled>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
          </div>
          <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임을 입력하세요">
          </div>

          <div class="mt-5" id="genreButtons">
            <button type="button" class="btn genre-btn" data-category-id="1">발라드</button>
            <button type="button" class="btn genre-btn" data-category-id="2">힙합</button>
            <button type="button" class="btn genre-btn" data-category-id="3">인디</button>
            <button type="button" class="btn genre-btn" data-category-id="4">락/메탈</button>
            <button type="button" class="btn genre-btn" data-category-id="5">트로트</button>
            <button type="button" class="btn genre-btn" data-category-id="6">댄스</button>
            <button type="button" class="btn genre-btn" data-category-id="7">R&B</button>
            <button type="button" class="btn genre-btn" data-category-id="8">밴드</button>
          </div>

          <!-- 회원정보 수정 버튼 -->
          <button type="button" class="btn btn-primary mt-5" id="updateUserBtn">회원정보 수정</button>
        </form>
      </div>
    </div>
  </div>

  <!-- 좋아요 한 플레이리스트 목록 -->
  <div id="likedPlaylistSection" style="display: none;">
    <!-- 플레이리스트 카드 영역 -->
    <div class="container playlist-container"></div>
  </div>

</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>

  const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴
  console.log("main.html에서 heager부분에서 token 출력 : ", token);


  window.onload = function () {
    showSection('MypageSection'); // 페이지 로드 시 기본적으로 'MypageSection'을 표시
    detailMypage();
  }

  // 섹션 표시
  function showSection(sectionId) {
    // 모든 섹션 숨기기
    document.getElementById('MypageSection').style.display = 'none';
    document.getElementById('likedPlaylistSection').style.display = 'none';

    // 선택된 섹션만 보이기
    document.getElementById(sectionId).style.display = 'block';
  }

  // 좋아요 한 플레이리스트 표시
  async function showLikedPlaylists() {
    try {
      const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴
      console.log("main.html에서 heager부분에서 token 출력 : ", token);

      const response = await fetch('/api/v3/playlists/liked', {
        headers: {
          'Authorization': `Bearer ${token}`  // JWT 토큰을 Authorization 헤더에 포함
        }
      });
      let data = await response.json();
      console.log(data); // ResultDto

      if (data.result === "success") {
        displayLikedPlaylists(data);
      } else {
        alertify.error("좋아요 한 플레이리스트를 가져오는 데 실패했습니다.");
      }
    } catch (error) {
      alertify.error("플레이리스트를 가져오는 중 오류가 발생했습니다.");
    }
  }





  // 세션에서 userNo를 가져오는 함수 (임의로 구현, 실제로는 서버에서 처리해야 함)
  async function getUserNoFromToken() {
    try {
      const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴
      console.log("main.html에서 heager부분에서 token 출력 : ", token);
      if (token) {
        const response = await fetch('/api/v3/users/info', {
          headers: {
            'Authorization': `Bearer ${token}`  // JWT 토큰을 Authorization 헤더에 포함
          }
        });

        if (response.ok) {
          const userDto = await response.json();
          if (userDto) {
            // 로그인 상태일 때
            let userNo = userDto.userNo;
            console.log("userNo" + userNo);
            return userNo;
          }
        } else {
          // 토큰이 유효하지 않은 경우 로그인 페이지로 이동
          handleNotLoggedIn();
        }
      } else {
        // 토큰이 없는 경우 로그인하지 않은 상태 처리
        handleNotLoggedIn();
      }
    } catch (error) {
      console.error("로그인 정보 가져오기 오류:", error);
      handleNotLoggedIn();
    }
  }


  // 플레이리스트 표시 함수
  function displayLikedPlaylists(data) {
    const playlistContainer = document.querySelector('.playlist-container');
    playlistContainer.innerHTML = '';

    data.list.forEach(playlistDto => {
      const userDto = data.userMap[playlistDto.userNo];
      const songCount = data.songCountMap[playlistDto.userNo];
      const userCategories = data.userCategoryMap[playlistDto.userNo];
      const categoriesText = userCategories.map(category => category.categoryName).join(', ');

      if (playlistDto.userNo == getUserNoFromToken()) return; // 자기 자신의 플레이리스트는 제외
      if (songCount === 0) return; // 곡이 없는 플레이리스트는 제외

      const cardHtml = `
        <div class="card-container">
          <a href="/detail/${playlistDto.userNo}">
            <div class="card">
              <div class="card-body">
                <img src="${userDto.userImage ? userDto.userImage : '/assets/img/noProfile.png'}" alt="User Image" />
                <div class="info-text"> 😎 ${userDto.userNickname}</div>
                <div class="info-text"> 💿 ${categoriesText}</div>
                <div class="info-text"> 🎵 ${songCount} ❤ ${userDto.userLike}</div>
              </div>
            </div>
          </a>
        </div>`;
      playlistContainer.innerHTML += cardHtml;
    });
  }

  // 회원정보 수정 버튼 클릭 이벤트
  document.getElementById('updateUserBtn').addEventListener('click', async function() {
    const userPassword = document.getElementById('password').value;
    const userNickname = document.getElementById('nickname').value;

    // 선택된 카테고리 아이디들
    const selectedCategories = Array.from(document.querySelectorAll('.genre-btn.selected')).map(button => parseInt(button.getAttribute('data-category-id')));




    // AJAX 요청: 회원정보 수정
    try {
      const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴

      let response = await fetch('/api/v3/users/mypage/update', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`,
        },
        body: JSON.stringify({ userPassword, userNickname })
      });
      let data = await response.json();

      if (data.result == "success") {
        alertify.success('회원정보가 수정되었습니다.');
      } else {
        alertify.error('회원정보 수정에 실패했습니다.');
      }
    } catch (error) {
      alertify.error('회원정보 수정 중 오류가 발생했습니다.');
    }

    // AJAX 요청: 카테고리 수정
    try {
      const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴

      let response = await fetch('/api/v3/users/mypage/updatecate', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`  ,
        },
        body: JSON.stringify(selectedCategories)
      });
      let data = await response.json();

      if (data.result == "success") {
        alertify.success('카테고리가 수정되었습니다.');
      } else {
        alertify.error('카테고리 수정에 실패했습니다.');
      }
    } catch (error) {
      alertify.error('카테고리 수정 중 오류가 발생했습니다.');
    }

    // Reload user details
    await detailMypage();
  });


  async function detailMypage() {
    try {
      const token = sessionStorage.getItem("authToken"); // JWT 토큰을 로컬 스토리지에서 가져옴
      console.log("main.html에서 heager부분에서 token 출력 : ", token);

      const response = await fetch('/api/v3/users/mypage', {
        headers: {
          'Authorization': `Bearer ${token}`  // JWT 토큰을 Authorization 헤더에 포함
        }
      });
      let data = await response.json();
      console.log(data); // ResultDto

      if (data.result === "success") {
        makeDetailHtml(data);
      } else if (data.result === "fail") {
        alert("조회 과정에서 오류가 발생했습니다.");
      } else if (data.result === "exception") {
        alert("예외 발생");
      } else if (data.result === "login") {
        window.location.href = "/pages/login";
      }
    } catch (error) {
      alert("데이터를 불러오는 중 오류가 발생했습니다.");
    }
  }

  // HTML에 마이페이지 정보 채우기
  function makeDetailHtml(data) {
    let userDto = data.userDto;
    let userCategoryDtoList = userDto.userCategoryDtoList;

    // 사용자 정보 채우기
    if (userDto) {
      document.querySelector("#navName").innerHTML = userDto.userName + "님";
      document.querySelector("#name").value = userDto.userName;
      document.querySelector("#email").value = userDto.userEmail;
      // document.querySelector("#password").value = userDto.userPassword;
      document.querySelector("#nickname").value = userDto.userNickname;
    }

    // 장르 버튼 선택 상태 초기화
    if (userCategoryDtoList) {
      const selectedCategoryIds = userCategoryDtoList.map(category => category.categoryId);

      document.querySelectorAll('.genre-btn').forEach(button => {
        const categoryId = parseInt(button.getAttribute('data-category-id'));

        // categoryId가 selectedCategoryIds에 있으면 버튼에 selected 클래스 추가
        if (selectedCategoryIds.includes(categoryId)) {
          button.classList.add('selected');
        } else {
          button.classList.remove('selected');
        }
      });
    }

    // 장르 버튼 클릭 이벤트: 선택/해제 토글
    document.querySelectorAll('.genre-btn').forEach(button => {
      button.addEventListener('click', function() {
        this.classList.toggle('selected');
      });
    });
  }

  // 로그아웃
  document.getElementById('logoutBtn').addEventListener('click', function () {
    sessionStorage.removeItem('authToken'); // JWT 토큰 제거
    alertify.success("로그아웃 되었습니다.");
    setTimeout(function () {
      window.location.href = "/login";
    }, 1000);
  });

</script>
</body>
</html>